<h2>BOOKS</h2>

<table border="3" cellpading="11" cellspacing="0">
    <tr>
        <th>book id </th>
        <th>book name</th>
        <th>book price</th>

    </tr>
    <tr>
        <td>{{bookArray[0].bookid}}</td>
        <td>{{bookArray[0].bookname}}</td>
        <td>{{bookArray[0].bookprice}}</td>
        
        
    </tr>
    <tr>
        <td>{{bookArray[1].bookid}}</td>
        <td>{{bookArray[1].bookname}}</td>
        <td>{{bookArray[1].bookprice}}</td>
        
    </tr>
    <td>{{bookArray[2].bookid}}</td>
    <td>{{bookArray[2].bookname}}</td>
    <td>{{bookArray[2].bookprice}}</td>
    
</table>
