<h1>{{title}}</h1>  
<app-greet></app-greet>

<app-inline-htmlcss></app-inline-htmlcss>
 <!-- <app-product></app-product>  -->
<app-book></app-book>
<app-inline-aboutme></app-inline-aboutme>
<app-binding-demo></app-binding-demo>
<app-outer></app-outer>
<app-square-outer></app-square-outer>
<app-cube-outer></app-cube-outer> 
 <app-additionouter></app-additionouter> 
 <!-- <app-if-demo></app-if-demo> -->
<app-switch></app-switch>
<app-attr-demo></app-attr-demo>
<app-custom-directives></app-custom-directives>



